<div class="ng-star-inserted">
  <div class="min-h-screen flex relative lg:static surface-ground">
    <!--<div id="app-sidebar-9" class="h-full lg:h-auto surface-section lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 border-right-1 surface-border w-18rem lg:w-7rem select-none hidden">
      <div class="flex flex-column h-full">
        <div class="flex align-items-center justify-content-center flex-shrink-0" style="height: 60px;"><img src="assets/images/blocks/logos/hyper-cyan.svg" alt="Image" height="30"></div>
        <div class="mt-3">
          <ul class="list-none p-0 m-0">
            <li><a pRipple class="p-ripple p-element flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center text-cyan-600 border-left-2 border-cyan-600 hover:border-300 transition-duration-150 transition-colors"><i class="pi pi-home mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i><span class="font-medium inline text-base lg:text-xs lg:block">Home</span><span class="p-ink"></span></a></li>
            <li><a pRipple class="p-ripple p-element flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center text-600 border-left-2 border-transparent hover:border-300 transition-duration-150 transition-colors"><i class="pi pi-search mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i><span class="font-medium inline text-base lg:text-xs lg:block">Search</span><span class="p-ink"></span></a></li>
            <li><a pRipple class="p-ripple p-element flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center text-600 border-left-2 border-transparent hover:border-300 transition-duration-150 transition-colors"><i class="pi pi-users mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i><span class="font-medium inline text-base lg:text-xs lg:block">Team</span><span class="p-ink"></span></a></li>
            <li class="relative"><a pRipple  pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" class="p-element p-ripple flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center text-600 border-left-2 border-transparent hover:border-300 transition-duration-150 transition-colors"><i pbadge="3" severity="danger" class="p-element pi pi-chart-line mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl p-overlay-badge"><span id="pr_id_5_badge" class="p-badge p-component p-badge-danger p-badge-dot"></span></i><span class="font-medium inline text-base lg:text-xs lg:block">Reports</span><i class="pi pi-chevron-down ml-auto lg:hidden"></i><span class="p-ink"></span></a>
              <ul class="list-none pl-3 pr-0 py-0 lg:p-3 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out static border-round-right lg:absolute left-100 top-0 z-1 surface-overlay shadow-none lg:shadow-2 w-full lg:w-15rem">
                <li><a pRipple  pStyleClass="@next" toggleClass="hidden" class="p-element p-ripple flex align-items-center cursor-pointer p-3 hover:surface-100 hover:text-900 border-round text-600 hover:text-700 transition-duration-150 transition-colors"><i class="pi pi-chart-line mr-2"></i><span class="font-medium">Revenue</span><i class="pi pi-chevron-down ml-auto"></i><span class="p-ink"></span></a>
                  <ul class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
                    <li><a pRipple  class="p-ripple p-element flex align-items-center cursor-pointer p-3 hover:surface-100 hover:text-900 border-round text-600 hover:text-700 transition-duration-150 transition-colors"><i class="pi pi-table mr-2"></i><span class="font-medium">View</span><span class="p-ink"></span></a></li>
                    <li><a pRipple  class="p-ripple p-element flex align-items-center cursor-pointer p-3 hover:surface-100 hover:text-900 border-round text-600 hover:text-700 transition-duration-150 transition-colors"><i class="pi pi-search mr-2"></i><span class="font-medium">Search</span><span class="p-ink"></span></a></li>
                  </ul>
                </li>
                <li><a pRipple  class="p-ripple p-element flex align-items-center cursor-pointer p-3 hover:surface-100 hover:text-900 border-round text-600 hover:text-700 transition-duration-150 transition-colors"><i class="pi pi-chart-line mr-2"></i><span class="font-medium">Expenses</span><span class="p-ink"></span></a></li>
              </ul>
            </li>
            <li><a pRipple class="p-ripple p-element flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center text-600 border-left-2 border-transparent hover:border-300 transition-duration-150 transition-colors"><i class="pi pi-calendar mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i><span class="font-medium inline text-base lg:text-xs lg:block">Events</span><span class="p-ink"></span></a></li>
            <li><a pRipple class="p-ripple p-element flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center text-600 border-left-2 border-transparent hover:border-300 transition-duration-150 transition-colors"><i class="pi pi-cog mr-2 lg:mr-0 mb-0 lg:mb-2 text-base lg:text-2xl"></i><span class="font-medium inline text-base lg:text-xs lg:block">Options</span><span class="p-ink"></span></a></li>
          </ul>
        </div>
        <div class="mt-auto">
          <hr class="mb-3 mx-3 border-top-1 border-none surface-border"><a pRipple class="p-ripple p-element m-3 flex flex-row lg:flex-column align-items-center cursor-pointer p-3 lg:justify-content-center hover:surface-200 border-round text-600 transition-duration-150 transition-colors"><img src="assets/images/blocks/avatars/circle/avatar-f-1.png" class="mr-2 lg:mr-0" style="width: 32px; height: 32px;"><span class="font-medium inline lg:hidden">Amy Elsner</span><span class="p-ink"></span></a>
        </div>
      </div>
    </div>-->
    <div class="min-h-screen flex flex-column relative flex-auto">
<!--      <div class="flex justify-content-between align-items-center px-5 surface-section relative lg:static border-bottom-1 surface-border" style="height: 60px;">-->
<!--        <div class="flex"><a pRipple pStyleClass="#app-sidebar-9" enterClass="hidden" enterActiveClass="fadeinleft" leavetoClass="hidden" leaveActiveClass="fadeoutleft" class="p-element p-ripple cursor-pointer block lg:hidden text-700 mr-3"><i class="pi pi-bars text-4xl"></i><span class="p-ink" style="height: 46px; width: 46px; top: -9.9998px; left: -6px;"></span></a><span class="p-input-icon-left"><i class="pi pi-search"></i><input type="text" pinputtext="" placeholder="Search" class="p-inputtext p-component p-element border-none w-10rem sm:w-20rem"></span></div><a pripple="" pstyleclass="@next" enterclass="hidden" enteractiveclass="fadein" leavetoclass="hidden" leaveactiveclass="fadeout" class="p-element p-ripple cursor-pointer block lg:hidden text-700"><i class="pi pi-ellipsis-v text-2xl"></i><span class="p-ink"></span></a>-->
<!--        <ul class="list-none p-0 m-0 hidden lg:flex lg:align-items-center select-none lg:flex-row surface-section border-1 lg:border-none surface-border right-0 top-100 z-1 shadow-2 lg:shadow-none absolute lg:static">-->
<!--          <li><a pRipple class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"><i class="pi pi-inbox text-base lg:text-2xl mr-2 lg:mr-0"></i><span class="block lg:hidden font-medium">Inbox</span><span class="p-ink"></span></a></li>-->
<!--          <li><a pRipple class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"><i pBadge severity="danger" class="p-element pi pi-bell text-base lg:text-2xl mr-2 lg:mr-0 p-overlay-badge"><span id="pr_id_6_badge" class="p-badge p-component p-badge-danger p-badge-dot"></span></i><span class="block lg:hidden font-medium">Notifications</span><span class="p-ink"></span></a></li>-->
<!--          <li class="border-top-1 surface-border lg:border-top-none"><a pRipple class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors"><img src="assets/images/blocks/avatars/circle/avatar-f-1.png" class="mr-3 lg:mr-0" style="width: 32px; height: 32px;">-->
<!--            <div class="block lg:hidden">-->
<!--              <div class="text-900 font-medium">Amy Elsner</div><span class="text-600 font-medium text-sm">Marketing Specialist</span>-->
<!--            </div><span class="p-ink"></span>-->
<!--          </a></li>-->
<!--        </ul>-->
<!--      </div>-->
      <div class="p-5 flex flex-column flex-auto">
        <div class="grid">
          <div class="col-12">
            <div class="grid">
              <div class="col-12 md:col-6 lg:col-3 p-3">
                <div class="p-3 text-center bg-blue-500" style="border-radius: 12px;">
                  <span class="inline-flex justify-content-center align-items-center bg-orange-600 border-circle mb-3" style="width: 49px; height: 49px;">
                    <i class="pi pi-users text-xl text-white"></i>
                  </span>
                  <div class="text-2xl font-medium text-white mb-2">{{this.worldSummaryData.NewConfirmed}}</div><span class="text-blue-100 font-medium">New Confirmed</span>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-3 p-3">
                <div class="p-3 text-center bg-purple-500" style="border-radius: 12px;">
                  <span class="inline-flex justify-content-center align-items-center bg-orange-600 border-circle mb-3" style="width: 49px; height: 49px;">
                    <i class="pi pi-users text-xl text-white"></i>
                  </span>
                  <div class="text-2xl font-medium text-white mb-2">{{this.worldSummaryData.TotalConfirmed}}</div><span class="text-purple-100 font-medium">TotalConfirmed</span>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-3 p-3">
                <div class="p-3 text-center bg-indigo-500" style="border-radius: 12px;">
                  <span class="inline-flex justify-content-center align-items-center bg-orange-600 border-circle mb-3" style="width: 49px; height: 49px;">
                    <i class="pi pi-users text-xl text-white"></i>
                  </span>
                  <div class="text-2xl font-medium text-white mb-2">{{this.worldSummaryData.NewDeaths}}</div><span class="text-indigo-100 font-medium">NewDeaths</span>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-3 p-3">
                <div class="p-3 text-center bg-orange-500" style="border-radius: 12px;">
                  <span class="inline-flex justify-content-center align-items-center bg-orange-600 border-circle mb-3" style="width: 49px; height: 49px;">
                    <i class="pi pi-users text-xl text-white"></i>
                  </span>
                  <div class="text-2xl font-medium text-white mb-2">{{this.worldSummaryData.TotalDeaths}}</div><span class="text-orange-100 font-medium">TotalDeaths</span>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-3 p-3">
                <div class="p-3 text-center bg-purple-500" style="border-radius: 12px;">
                  <span class="inline-flex justify-content-center align-items-center bg-orange-600 border-circle mb-3" style="width: 49px; height: 49px;">
                    <i class="pi pi-users text-xl text-white"></i>
                  </span>
                  <div class="text-2xl font-medium text-white mb-2">{{this.worldSummaryData.NewRecovered}}</div><span class="text-purple-100 font-medium">NewRecovered</span>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-3 p-3">
                <div class="p-3 text-center bg-orange-500" style="border-radius: 12px;">
                  <span class="inline-flex justify-content-center align-items-center bg-orange-600 border-circle mb-3" style="width: 49px; height: 49px;">
                    <i class="pi pi-users text-xl text-white"></i>
                  </span>
                  <div class="text-2xl font-medium text-white mb-2">{{this.worldSummaryData.TotalRecovered}}</div><span class="text-orange-100 font-medium">TotalRecovered</span>
                </div>
              </div>
            </div>
          </div>
          <p-table #dt [value]="this.countriesSummaryData" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
                   [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                   [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                   [filterDelay]="0" [globalFilterFields]="['Country','NewConfirmed', 'TotalConfirmed', 'NewDeaths','TotalDeaths', 'TotalDeaths', 'NewRecovered', 'TotalRecovered']">
            <ng-template pTemplate="caption">
              <div class="table-header">
                List of Countries
                <!--<span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
                    </span>-->
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem"></th>
                <th pSortableColumn="Country">Country <p-sortIcon field="Country"></p-sortIcon></th>
                <th pSortableColumn="NewConfirmed">NewConfirmed <p-sortIcon field="NewConfirmed"></p-sortIcon></th>
                <th pSortableColumn="TotalConfirmed">TotalConfirmed <p-sortIcon field="TotalConfirmed"></p-sortIcon></th>
                <th pSortableColumn="NewDeaths">NewDeaths <p-sortIcon field="NewDeaths"></p-sortIcon></th>
                <th pSortableColumn="TotalDeaths">TotalDeaths <p-sortIcon field="TotalDeaths"></p-sortIcon></th>
                <th pSortableColumn="TotalDeaths">TotalDeaths <p-sortIcon field="TotalDeaths"></p-sortIcon></th>
                <th pSortableColumn="TotalRecovered">TotalRecovered <p-sortIcon field="TotalRecovered"></p-sortIcon></th>

<!--                <th style="width: 8rem"></th>-->
              </tr>
              <!--<tr>
                <th>
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'startsWith')" placeholder="Search by Name" class="p-column-filter">
                </th>
                <th>
                  <input pInputText type="text" (input)="dt.filter($event.target.value, 'country.name', 'contains')" placeholder="Search by Country" class="p-column-filter">
                </th>
                <th>
                  <p-multiSelect [options]="representatives" placeholder="All" (onChange)="onRepresentativeChange($event)" styleClass="p-column-filter" optionLabel="name">
                    <ng-template let-option pTemplate="item">
                      <div class="p-multiselect-representative-option">
                        <span class="p-ml-1">{{option.label}}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </th>
                <th>
                  <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'date', 'equals')" [showButtonBar]="true" styleClass="p-column-filter" placeholder="Registration Date" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
                </th>
                <th>
                  <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'status', 'equals')" styleClass="p-column-filter" placeholder="Select a Status" [showClear]="true">
                    <ng-template let-option pTemplate="item">
                      <span [class]="'customer-badge status-' + option.value">&#123;&#123;option.label&#125;&#125;</span>
                    </ng-template>
                  </p-dropdown>
                </th>
                <th>
                  <input pInputText type="text" (input)="onActivityChange($event)" placeholder="Minimum" class="p-column-filter" >
                </th>
                <th></th>
              </tr>-->
            </ng-template>
            <ng-template pTemplate="body" let-countrySummary>
              <tr class="p-selectable-row">
                <td>
<!--                  <p-tableCheckbox [value]="countrySummary"></p-tableCheckbox>-->
                </td>
                <td>
                  <span class="p-column-title">Country</span>
                  {{countrySummary.Country}}
                </td>
                <td>
                  <span class="p-column-title">NewConfirmed</span>
                  {{countrySummary.NewConfirmed}}
                </td>
                <td>
                  <span class="p-column-title">TotalConfirmed</span>
                  <span class="image-text">{{countrySummary.TotalConfirmed}}</span>
                </td>
                <td>
                  <span class="p-column-title">NewDeaths</span>
                  <span class="image-text">{{countrySummary.NewDeaths}}</span>
                </td>
                <td>
                  <span class="p-column-title">TotalDeaths</span>
                  {{countrySummary.TotalDeaths}}
                </td>
                <td>
                  <span class="p-column-title">NewRecovered</span>
                  <span>{{countrySummary.NewRecovered}}</span>
                </td>
                <td>
                  <span class="p-column-title">TotalRecovered</span>
                  <span>{{countrySummary.TotalRecovered}}</span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="8">No customers found.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
